html, body, div, span, applet, object, iframe, h1, h2, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, dl, dd, ol, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration:none;
}


ol, ul{
    list-style:none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p{
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}

h1{
    font-size: 70px;
}

h3{
    font-weight:700;
    color: silver;
    text-shadow: 0.06em 0.06em black; 
    width: 400px;
    height: 60px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    background-color: #800000;
    text-align: center;
    font-size: 35px;
    box-shadow:5px 5px 20px 0px rgba(0,0,0,0.6);
}

h4{
    margin: 0px 0px 40px 0px;
    font-weight:700;
    color: silver;
    text-shadow: 0.06em 0.06em black; 
    text-align: center;
    font-size: 35px;
}

html{
    min-width: 1000px;
    height: 100%;
}

body{
    /* line-height: 1; */
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    
}

#header {
    background: url(/fonts/images/wood_head_footer.jpg); 
    height: 200px;
    min-width:1000px;
    border-radius: 0px 0px 30px 30px;
    z-index: 2000;
}

.body {
   position: relative;
    background-color: #DCDCDC; 
    width: 100%;
    /*height: 97%;
    min-height: 3635px;*/
}


.header{
    height: 200px;
}

.left .logo{
    height: 200px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color:white;
}

.right .logo{
    height: 200px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color:white;
}

.logo img{
    height: 100%;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
#Button_zakaz{
    width: 180px;
    height: 180px;
    padding: 20px 20px 20px 20px; /* отступы */
    z-index: 2000;
}

#Button_zakaz em{
    font-size: 25px;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
#Button_zakaz{
    width: 150px;
    height: 150px;
    padding: 17px 15px 15px 15px; /* отступы */
    z-index: 2000;
}

#Button_zakaz em{
    font-size: 20px;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
#Button_zakaz{
    width: 120px;
    height: 120px;
    padding: 5px 5px 5px 5px; /* отступы */
    font-size: 25px;
    z-index: 2000;
}

#Button_zakaz em{
    font-size: 15px;
}
}

#Button_zakaz{
    position: fixed; /* фиксированная позиция */
    opacity: .1; /* прозрачность */   
    background: #800000;
    border:5px solid silver;
    border-radius: 500px; /* скругление углов */
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    right: 10px; /* отступ слева */
    bottom: 10px; /* отступ снизу */
    cursor: pointer;
    z-index: 2000;
}

#Button_zakaz p{
    margin: 0px 0px 0px 0px;
    text-align: center;
}

#Button_zakaz em{
    color:white;
}

#Button_zakaz:hover{
    opacity: 1;
    transition: opacity 0.6s;
}
/*                                                                                                                      heder left*/



/*                                                                                                                      heder center*/
.center .name{
    margin: 50.5px 0px 72.5px 0px;
    padding: 0px;
    text-shadow: 0.04em 0.04em grey;
    font-family: courier, verdana, sans-serif;
    color:silver;
    text-align: center;
    text-shadow: 0.3em 0.3em black;
}
/*                                                                                                                      heder center*/

/*                                                                                                                      heder right*/


/*                                                                                                                      heder right*/

/*                                                                                                                              nav*/

nav {
    width: 100%;
    height: 60px;
    z-index: 2100;
}

#nav ul{
    position: relative;
    margin: -30px 0px 0px 0px;
    padding: 10.5px 0px 0px 0px;
    width: 800px;
    height: 60px;
    background-color: #2F4F4F;
    text-align: center;
    align-items: center;
    z-index: 2100;
}

#nav ul li{
    margin: 0px 0px 0px 0px;
    width: 60px;
    height: 60px;
    display: inline;
    margin-right: 0px;
    padding: 16px 16px 19px 16px;
    font-size: 24px;
    color:silver;
    text-decoration: none;
    z-index: 2100;
}

#nav ul li.active{
    background-color: #800000;
    text-decoration: none;
    color:grey;
}

#nav ul a:hover, #nav ul li:hover {
    background-color: #800000;
    color:grey;
    text-decoration: none;
}

.navigation {
    max-height: 60px;
    z-index: 2100;
}

/*                                                                                                                              nav*/



/*                                                                                                                              yslygi*/


#Button_up{
    width: 12%;
    min-width: 150px;
    height: 100%;
    position: fixed; /* фиксированная позиция */
    padding: 0px; /* отступы */
    left: 0px; /* отступ слева */
    bottom: 0px; /* отступ снизу */
    cursor: pointer;
    z-index: 1500;
}

#Button_up:hover .Button_up_podsvetka{
    opacity: 0.4;
    transition: opacity 0.4s;
    background: #3963a6;
}

.Button_up_podsvetka {
    width: 80%;
    max-width: 120px;
    height: 100%;
    opacity: 0.2; /* прозрачность */
    padding: 0px; /* отступы */
    left: 0px; /* отступ слева */
    bottom: 0px; /* отступ снизу */
    cursor: pointer;
}


.arrow{
    width: 0px;
    height: 0px;
    border: 50px solid transparent; 
    opacity: 1;
    border-top-color: #800000 ; 
    margin: 10px;
    padding: 0;
    float: left;
    position:absolute;
    bottom: 0px;
}

.arrow:before{
    position:absolute;
    content:'';
    width: 0px;
    height: 0px;
    border: 30px solid transparent; 
    border-top-color:#800000;
    display: inline-block;
    -webkit-transform: translate(-30px, -50px);


}

.arrow.up{
    transform: rotate(180deg) translate(0px, 25px);
}


.img_divan {
    height: 500px;
    margin: 0px 0px 0px 0px;
}

.img_divan center{
    height: 500px;
}
.img_divan hr{
    margin: 0px;
    border:1px solid black;
    box-shadow:0px 0px 15px 1px black;
}

.img_divan img{
    width: 100%;
    height: 100%;
}
/*                                                                                                                              yslygi*/

.content_body {
    position: relative;
    min-width: 970px;
    height: 95%;
    margin: -61px 0px 0px 0px;
    padding: 0px;
    background: url(/fonts/images/background_floor.jpg) repeat;
    box-shadow:0px 0px 30px 4px rgba(0,0,0,0.6);
}

.sector{
    min-width: 970px;
    /*height: 85%;*/
    padding:0px;  
    position: absolute;
}

.container_1 {
    position: relative;
}

.container_2 {
    position: relative;
}

.container_3 {
    position: relative;
}

.container_3 center{
    margin:25px 0px 0px 0px;
}

center{
    position: relative;
    
    z-index: 0;
}



.btn{
    margin:20px 0px 0px 0px;
    font-size: 20px;
}

.div{
    width: 31%;
    height: 400px;
    margin: 0px 10px 0px 10px;
    position: relative;
    border: 4px solid black;
    border-radius: 8px;
    float:left;
    display: table-cell;
    background: url(/fonts/images/background_floor.jpg);
}

.div:hover{
    box-shadow: 0px 0px 25px 5px #31271E;
    transform: scale(1.05);
    opacity: 1;
    transition: opacity 0.6s;
}

.div a{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    color:black;
    text-decoration: none;
}

.div p{
    max-height: 31%;
    min-height: 15%;
    color: black;
}


.div7 {
    width: 900px;
    height: 300px;
    margin: 0px 0px 20px 0px;
    background-color: #F5F5F5;
    border-radius: 4px;
    display: table-cell;
}

.div7 img{
    width: 400px;
    height: 300px;
    float: right;
    margin:0px 0px 0px 10px;
}

.div7 p{
    text-align:left;
}

.div8 {
    width: 900px;
    height: 300px;
    margin: 0px 10px 0px 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    display: table-cell;
}

.div8 img{
    width: 400px;
    height: 300px;
    float: left;
    margin:0px 10px 0px 0px;
}

.div8 p{
    text-align:left;
}

.div9 {
    width: 900px;
    height: 300px;
    margin: 0px 10px 0px 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    display: table-cell;
}

.div9 img{
    width: 400px;
    height: 300px;
    float: right;
    margin:0px 0px 0px 10px;
}

.div9 p{
    text-align:left;
}


.div_portfolio{

}

.all0{
    width: 960px;
    height: 460px;
    position: relative;
}

.all0 img.portfolio{
    
    min-width: 290px;
    height: 50%;
}

.all1{
    width: 960px;
    height: 460px;
    position: relative;
}

.all1 img.img_our_services{
    min-width: 290px;
    height: 50%;
}


.all2{
    margin:20px 0px 0px 0px;
    width: 100%;
    position: relative;
}



.all3{
    margin:10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    width: 100%;
    position: relative;
}

.all3_div{
    padding: 10px;
    border: 4px solid #31271E;
    background: url(/fonts/images/background_paper_1.jpg);
}



.all4{
    margin:0px 20px 0px 20px;
    padding: 20px 20px 20px 20px;
    width: 95%;
    min-height: 570px;
    max-height: 600px;
    text-align: center;
    font-family: 'Lemonada', cursive;
    position: relative;
    background: url(/fonts/images/background_paper_2.jpg) no-repeat;
    background-size:100%;
    box-shadow:0px 0px 30px 4px rgba(0,0,0,0.6);
    border-radius: 6px;
}

.all4 h4{
    margin:10px 0px 10px 0px;
    text-align: center;
    color:#333333;
    font-size: 28px;
    text-shadow: 0em 0em grey;
}

.all4 p{
    width: 70%;
    height: 90%;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    float: left;
}

.all5{
    margin:20px 0px 0px 0px;
    padding: 0px 100px 0px 100px;
    width: 950px;
    height: 600px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.all5 li{
    width: 600px;
    height: 40px;
}

.all5 label{
    float:left;
    margin: 5px 5px 5px 5px;
    text-shadow: 0.06em 0.06em grey;
}

.all5 input{
    width: 400px;
    height: 40px;
    float:right;
    text-transform: none;
    font-family: courier, verdana, sans-serif;
    border-radius: 10px;
    box-shadow:5px 5px 20px 0px rgba(0,0,0,0.6);
}

.all5 textarea{
    margin: 20px 0px 40px 0px;
    width: 600px;
    max-width: 600px;
    height: 300px;
    max-height: 430px;
    line-height: 1.5;
    box-shadow:5px 5px 20px 0px rgba(0,0,0,0.6);
}

.all5 button{
    width: 300px;
    height: 60px;
    font-size: 30px;
    color: black;
    background-color: #800000;
    border: 0px;
    border-radius: 4px;
    box-shadow:inset 0px 0px 20px 0px black;
}

.all5 button:hover{
    border: 2px solid black;
    box-shadow:inset 0px 0px 20px 1px black;
    transform: scale(1.05);
}


footer {
    position: relative;
    bottom: 0;
    width:100%;
    z-index: 2500;
}

.footer_main {
    bottom: 0px;
    min-width:1000px;
    height:100px;
    margin-bottom: 0px;
    background: url(/fonts/images/wood_head_footer.jpg);
}

.footer_main p {
    max-height: 100px;
    padding: 0px;
}

.footer_main p.footer_p1 {  
    height: 80px;
    margin:10px 0px 0px 0px;
    font-size:14px;
    color:#A26F39;
    text-align:center;
    display: inline-block;
}

.footer_main p.footer_p2 {
    margin:10px 0px 0px 0px;
    font-size:14px;
    color:#A26F39;
    text-align:left;
}

.footer_main p.footer_p1 a{
    width: 40px;
    height: 40px;
    font-size:40px;
    text-decoration: none;
}

.footer_main p img{
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    box-shadow:inset 0px 0px 20px 0px silver;
}




