@model MebleShop.Models.Entities.OurWorks.Work
@{
    Layout = null;
}
@foreach (var work in Model.FileWorkDetails.Take(1))
{
    <a href="~/OurWork/UserWorkDetails/@work.WorkId">


        <div class="div div2" style="margin-bottom: 30px;">
            @foreach (var item in Model.FileWorkDetails.Take(1))
            {
                <img class="img-thumbnail portfolio" align="left"
                     src="/OurWork/GetImage/?workId=@item.Id">
            }
            <p>
                @if (Model.Description.Length > 170)
                {
                    @String.Concat(Model.Description.Substring(0, 170), "...")
                }
                else
                {
                    @Html.DisplayFor(modelItem => modelItem.Description)
                }

            </p>
        </div>
    </a>
}

