@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>
@*<h3 class="text-danger">@ViewBag.Message</h3>
<a class="btn btn-primary" href="javascript:void(0);" onclick="history.go(-1);">Назад</a>

<div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-success">@TempData["ErrorMessage"]</div>
    }
</div>*@








