@model IEnumerable<MebleShop.Models.Entities.OurServices.Service>
@{
    ViewBag.Title = "Все услуги";
    Layout = "~/Views/Shared/_MainShopLayout.cshtml";
}

<div class="container_1">
    <div class="yslygi">
        <h3>Наши услуги</h3>
    </div>
    <center>
        <div class="all1">
            @foreach (var item in Model)
            {
                @Html.Action("PartialService", "OurService", new { id = item.ServiceId })
            }
        </div>
    </center>
</div>




